        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo {
    width: 25%;
}
h1 {
    color: #a5f7ff;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', serif;
}
#voice {
    width: 200px;
    display: none;
}
#btn {
    width: 80px;
    height: 80px;
    border-radius:50% ;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 2px 2px #c9f4f8; */
}
#name, #va {
    color: #00fffc;
}
#camera-feed {
    display: none;
    width: 80%;
    height: auto;
    margin-top: 20px;
}
.content{
    height: 50px;
}
@media only screen and (max-width:480px) {
    #logo{
        width:50%
    }
    
}
h1, span{
    position: relative;
    animation: myfirst 10s linear 2s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {color:red; }
    25%  {color:white; }
    50%  {color:#73fffe; }
    75%  {color:yellow; }
    100% {color:#6287f8; }
  }
  button{
    position: relative;
    animation: second 10s linear 2s infinite alternate;
  }
  @keyframes second {
    0%   {background-color:red; }
    25%  {background-color:white; }
    50%  {background-color:#73fffe; }
    75%  {background-color:yellow; }
    100% {background-color:#6287f8; }
  }
