        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#logo {
    width: 20vw;
}
h1 {
    color: #a5f7ff;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', serif;
}
#voice {
    width: 200px;
    display: none;
}
#btn {
    width: 80px;
    height: 80px;
    border-radius:50% ;
    background: linear-gradient( white
    ,#7b67f0);
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 2px #c9f4f8;
}
#name, #va {
    color: #00fffc;
}
#camera-feed {
    display: none;
    width: 80%;
    height: auto;
    margin-top: 20px;
}
.content{
    height: 50px;
}
